body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
}

header {
  background-color: lightgray;
}

nav {
  background-color: #ddf2ab;
}

main {
  background-color: rgba(125, 100, 100, 0.5);
  font-size: 110%;
}

footer {
  background-color: rgb(24, 1, 1);
}

li {
  display: inline-block;
  width: 30%;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace color: red;
}

p {
  line-height: 100%;
}
